body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.topCaption, .bottomCaption{
	color: white;
	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: black;
   	font-family: impact;
   	text-align: center;
}

.memeGeneratorContainer{
	min-height: 540px;

}